:root {
  --green-color: #28a745;
  --red-color: #dc3545;
  --yellow-color: #ffc107;
  --blue-color: #007bff;
  --gray-color: #2a2d35;
  --black-color: #161a1e;
}

body {
  background-color: var(--black-color);
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 500;
}


/**********  Header  **********/

#header {
  padding: 1.5em 2em;
  border-bottom: 3px solid var(--gray-color);
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 7em;
}

#balance {
  font-size: 1em;
  font-weight: 700;
}

#total-balance, #dollar-sign {
  color: var(--green-color);
}


/**********  Grid  **********/

#market, #portfolio {
  margin-top: 3em;
}

#market-title, #portfolio-title {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}

.mp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em 3em;
  color: gray;
  font-size: 0.8em;
  font-weight: 700;
}


/**********  Market / Portfolio  **********/

.coin-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 1em;
}

.coin-image {
  width: 1.8em;
}

.coin-name {
  font-size: 1em;
  font-weight: 600;
}

.coin-symbol {
  font-size: 0.8em;
  font-weight: 700;
  color: gray;
}

.coin-price-div, .coin-owned-div {
  font-size: 1em;
  font-weight: 700;
}

.per-coin, .coin-owned-symbol {
  font-size: 0.7em;
  font-weight: 700;
  color: gray;
}

.arrow-button {
  transform: rotate(-90deg);
  font-size: 1em;
  color: lightgray;
  cursor: pointer;
  transition: 0.2s;
}

.arrow-button:hover {
  color: white;
  transform: scale(1.1);
}

.arrow-button-active {
  transform: rotate(0deg);
}

.coin-owned-symbol {
  position: relative;
  bottom: 0.15em;
}

#market {
  border-bottom: 3px solid var(--gray-color);
  padding-bottom: 1em;
}

#portfolio {
  border-bottom: 3px solid var(--gray-color);
  padding-bottom: 1em;
}

#copyright {
  text-align: center;
  color: gray;
  font-size: 0.6em;
  font-weight: 700;
  margin-top: 5em;
  margin-bottom: 3em;
}


/**********  Buy / Sell  **********/

.buy-sell-div {
  display: none;
  margin-left: 2em;
}

.quantity {
  font-size: 0.9em;
  font-weight: 600;
}

.input {
  background-color: var(--gray-color);
  color: white;
  border-radius: 8px;
  border: 2px solid var(--black-color);
  font-size: 0.9em;
  width: 8em;
  padding: 0.3em;
  margin-left: 1em;
}

.total {
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 1em;
  color: rgb(200, 200, 200)
}

.btn {
  font-size: 0.8em;
  font-weight: 600;
  padding: 0.4em 1em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.btn-succes:hover {
  background-color: green;
}

.btn-danger:hover {
  background-color: rgb(160, 0, 0);
}
